<h2>Please Log In:</h2>

<%= form_tag log_in_path do %>
<h3><%= label_tag(:email) %></h3>
<%= text_field_tag(:email) %>
<h3><%= label_tag(:password) %></h3>
<%= password_field_tag(:password) %>
<br><br>
<%= submit_tag("Log In") %>
<% end %>