<div class="show_wrapper">
	<h1>Edit my profile</h1>
		<!-- Edit user details -->
		<% if current_user && @user == current_user %>
			<%= form_for @user, :html => { :multipart => true } do |f| %>
				<%=f.text_field :fname, value: @user.fname %>
				<br>
				<%=f.text_field :lname, placeholder: :lname %>
				<br>
				<%=f.email_field :email, value: @user.email %>
				<br>
				<%=f.text_field :about, value: @user.about, placeholder: "tell us about yourself" %>
				<br>
				<%=f.password_field :password, value: @user.password %>
				<br>
				<%=f.submit :update %>
			<% end %>

			<!-- Add a journal -->
			<h3>Add a blog</h3>
				<%= form_for @journal do |j| %>
					<%= j.text_field :title, placeholder: :title %>
					<%= j.text_field :description, placeholder: :description %>
					<br>
					<%= j.text_field :link, placeholder: :link_to_journal %>
					<%= j.select :country_id, options_from_collection_for_select(@countries, "id", "name"),
			:prompt => "Select country" %>
					<br>
					<%= j.submit value: "Add", id: :journal_add_button %>
				<% end %>
		<% else %>
			<p>You do not have permission to edit this profile</p>
		<% end %>
</div>