<div class="wrapper">
	<!-- This is the country map -->
	<div id="map"></div>

	<!-- ALL REVIEWS -->
	<div id="review_wrapper">
		<div>
			<p class="left tab one" onclick="openRestaurantModal()">Eat</p>
			<p class="left tab two" onclick="openHotelModal()">Sleep</p>
			<p class="left tab three" onclick="openOtherModal()">Play</p>
			<button class="right" id="add" onclick="openReviewModal()">Add Review</button>	
		</div>

		<!--  Create a new review -->
		<div id="outer_review_modal" class="clear">
			<div id="inner_review_modal">
				<h3>Add a Review</h3>
					<h4 id="close_review_modal" class="right" onclick="closeReviewModal()"><a href="">X</a><h4>
					<form id="search" class="clear">
						<p>Click on the map to set a location OR</p>
						<br>
						<input id="address" type="textbox" placeholder="Search by address">
				 		<input id="submit" type="submit" value="Search">
				 	</form>
					<br>
					<%= form_for [@country, @review] do |f| %>
						<%= f.text_field :title, placeholder: :name %>
						<br><br>
						<%= f.text_area :body, placeholder: :description %>
						<br>
						<%= f.hidden_field :latitude %>
						<%= f.hidden_field :longitude %>
						<%= f.hidden_field :address %>
						<br>
						<%= f.select :post_type, Review.post_types.keys, prompt: :select %>
						<br><br>
						<%= f.submit %>
					<% end %>
			</div>
		</div>

		<!-- Restaurant reviews -->
		<div id="restaurant_reviews" class="clear">
			<%= render partial: "restaurant_results" %>
		</div>

		<!-- Hotel reviews -->
		<div id="hotel_reviews" class="clear">
			<%= render partial: "hotel_results" %>
		</div>

		<!-- Other reviews -->
		<div id="other_reviews" class="clear">
			<%= render partial: "other_results" %>
		</div>
	</div>

	<!-- JOURNALS -->
	<div id="volunteer_journals">
		<h3><%= @country.name %> Volunteer Journals</h3>
		<div id="all_journals">
			<% if @journals != [] %>
				<% @journals.each do |j| %>
					<div id="individual_journals">
						<p><%= link_to j.title, j.link %></p>
						<p><%= j.description %></p>
						<p>Author: <%= link_to j.user.fname + " " + j.user.lname, user_path(j.user) %></p>
					</div>
				<% end %>
			<% else %>
				<p>None yet...</p>
			<% end %>
		</div>
	</div>

	<!-- MESSAGE BOARD -->
	<div id="message_board">
		<h3>Message Board</h3>
			<button id="post" onclick="openBoardpostModal()">POST</button>
			<div id="all_boardposts">
				<% @boardposts.each do |b| %>
					<div id="individual_boardposts">
						<p><b><%= b.title %></b></p>
						<p><%= b.body %></p>
						<p><%= link_to "full thread and comments", country_boardpost_path(b.country, b) %> </p>
					</div>
				<% end %>
			</div>
	</div>

	<!-- New message board post modal -->
	<div id="outer_boardpost_modal">
		<div id="inner_boardpost_modal">
			<p id="close_boardpost_modal" class="right" onclick="closeBoardpostModal()">X</p>
				<h2 class="clear">Post on the Message Board</h2>
				<%= form_for [@country, @boardpost] do |j| %>
					<%= j.text_field :title, placeholder: :post_title %>
					<br>
					<%= j.text_area :body, placeholder: "What's on your mind?" %>
					<br>
					<%= j.submit value: "POST", id: :submit_new_boardpost %>
				<% end %>
		</div>
	</div>

	<!-- Hidden review data to populate map with markers -->
	<% @reviews.each do |r| %>
		<div class="load_all_markers" data-thang='{"lat": <%= r.latitude %>, "lng": <%= r.longitude %>}' data-title='<%= r.title %>' data-body='<%= r.body.truncate_words(15) %>' data-details='<%= link_to "see details", country_review_path(r.country, r) %>'>
		</div>
	<% end %>

	<!-- Javascript to create country map -->
	<script type="text/javascript">
		function initialize() {

			var prev_infowindow = false;

		  var myCenter = new google.maps.LatLng(<%= @country.latitude %>, <%= @country.longitude %>)
		  var mapProp = {
		    scrollwheel: false,
		    mapTypeControl: false,
		    streetViewControl: true,
		    center:myCenter,
		    zoom:8,
		    mapTypeId:google.maps.MapTypeId.ROADMAP
		  };
		  var map=new google.maps.Map(document.getElementById("map"),mapProp);

		  // This is a marker
		  var marker = new google.maps.Marker({
		    // position:myCenter,
		  });

		  // This is a new map with a geocoded address
		  var geocoder = new google.maps.Geocoder();

		  // This function geocodes the address entered on submit in report modal
		  document.getElementById('search').addEventListener('submit', function(e) {
		    e.preventDefault();
		    var address = document.getElementById("address").value;
		    geocodeAddress(geocoder, map, address);
		  });

		  //grabs all of the things with the class load_all_markers
		  var things = document.getElementsByClassName('load_all_markers');

		  // gets the length of load_all_markers
		  var length = document.getElementsByClassName('load_all_markers').length;

		    
		  arr = [];
		  var arrTitle = [];
		  var arrBody = [];
		  var arrDetails = [];
		  // iterates through var things (array) and adds stuff to empty arrays (dataset.thang refers to html attributte data-thang)
		  for (var i = 0; i < length; i++){
		    arr.push(things[i].dataset.thang);
		    arrTitle.push(things[i].dataset.title);
		    arrBody.push(things[i].dataset.body);
		    arrDetails.push(things[i].dataset.details);
		  }

		  // var arr is now an array of objects in string form

		  // iteration of arr and returning it's object form using JSON.parse saved as variable "thung"
		  for (var j = 0; j < length; j++){

		    var thung = JSON.parse(arr[j]);
		    var rTitle = arrTitle[j];
		    var rBody = arrBody[j];
		    var rDetails = arrDetails[j];


		    // make new marker with the object thung which contains latitude and longitude
		    var marks = new google.maps.Marker({
		      position: thung,
		      map: map
		    });

		    // anchors infowindow to corresponding / specific marker
		    function addInfoWindow(marker, title, body, details) {
		     	var infoWindow = new google.maps.InfoWindow({
		          content: "<div id='info_title'>" + title + "</div>" + "<br><div id='info_body'>" + body + "<br><br></div>" + details
		        });
		     
		        // Zooms in on marker click
		        google.maps.event.addListener(marker, 'click', function () {
		        	if (prev_infowindow){
		        		prev_infowindow.close();
		        	}
				    prev_infowindow = infoWindow
		            infoWindow.open(map, this);
		            map.setZoom(16);
		            map.setCenter(marker.getPosition());
		        });
		    }
		    // Puts report title + body + details link in infowindow
		    addInfoWindow(marks,rTitle,rBody,rDetails) 
		  }
		  // Adds marker wherever you click
		  google.maps.event.addListener(map, 'click', function(event) {
				marker.setDraggable(true);
				marker.setPosition(event.latLng);
				marker.setMap(map);
				marker.setAnimation(google.maps.Animation.DROP);
				populateInputs(event.latLng);
	

		 	google.maps.event.addListener(marker, "drag", function (mEvent) {
                populateInputs(mEvent.latLng);
            });
		  });

		}
		initialize();

		// Creating reviews in the new review modal
		function openReviewModal() {
			<% if current_user == nil %>
				alert("You must be logged in to write a review")
			<% elsif @user.volunteer == false %>
				alert("Only Peace Corps Volunteers can write reviews. You can still post on the message board and make comments, though!")
			<% else %>
			  $('.tab.one').css({"border-top":"none", "border-right":"none", "border-left":"none", "border-bottom":"solid 2px #f1f1f1"});
			  $('.tab.two').css({"border-top":"none", "border-right":"none", "border-left":"none", "border-bottom":"solid 2px #f1f1f1"});
			  $('.tab.three').css({"border-top":"none", "border-right":"none", "border-left":"none", "border-bottom":"solid 2px #f1f1f1"});
			  $('#restaurant_reviews').hide();
			  $('#hotel_reviews').hide();
			  $('#other_reviews').hide();
			  $('#outer_review_modal').show();
			<% end %>
		}

		// Creating new message board posts
		function openBoardpostModal() {
			<% if current_user %>
			    $('#outer_boardpost_modal').fadeIn(200);
			<% else %>
			 	alert("You must be logged in to write a post")
			<% end %>
		}
	</script>
</div>