<!-- Review detail -->
<h1><%= @review.title %></h1>
	<p>(<%= @review.post_type %>)</p>
		<h3><%= @review.body %></h3>
			<p>Posted on <%= @review.created_at.strftime("%b %d, %Y") %> by <%#= @user.fname %><%#= @user.lname %></p>
					<% if @user == current_user %>
						<p><%= link_to "Edit Review", edit_country_review_path(@country, @review) %><p>
						<p><%= link_to "Delete Review", country_review_path(@country, @review), method: :delete %><p>
					<% end %>
					<hr>

<!-- Add a new comment -->
<h4>Comments</h4>
	<%= form_for [@review.country, @review, @comment] do |c| %>
		<%= c.text_field :body, placeholder: :what_do_you_think? %>
		<%= c.submit value: "Comment" %>
	<% end %>

<!-- All comments -->
<% @comments.each do |c| %>
	<p><%= c.user.fname + " " + c.user.lname %> says...</p>
	<p><%= c.body %></p>
	<p><%= time_ago_in_words(c.created_at) %> ago</p>
<% end %>