<!DOCTYPE html>
<html>
	<head>
	  <title>Third Goal Travel</title>
	  <script src="http://maps.googleapis.com/maps/api/js"></script>
	  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<% if flash[:notice] %>
			<div id="flash">
				<h3><%= flash[:notice] %></h3>
			</div>
		<% end %>

		<nav>
			<ul class="left">
				<img src="/images/facebook.png">
				<img src="/images/instagram.png">
				<img src="/images/twitter.png">
			</ul>

			<% if current_user %>
				<ul class="right">
					<li><a href="#">THING1</a></li>
					<li><a href="#">THING2</a></li>
					<li><a href="#">THING3</a></li>
					<li><a href="/log-out">LOG OUT</a> </li>
				</ul>
			<% end %>

			<ul class="middle">
				<% if @country %>
				<h1 ><%= @country.name %></h1>
				<% end %>
				<% if @region %>
				<h1 ><%= @region.name %></h1>
				<% end %>
			</ul>
		</nav>


		<div id="wrapper">
			<%= yield %>
		</div>

		

	</body>
</html>
