<!DOCTYPE html>
<html>
	<head>
	  <title>Third Goal Travel</title>
	  <script src="http://maps.googleapis.com/maps/api/js"></script>
	  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<nav>
			<ul class="left">
				<img src="/images/facebook.png">
				<img src="/images/instagram.png">
				<img src="/images/twitter.png">
			</ul>
			
			<ul class="right">
				<li><a href="#">THING1</a></li>
				<li><a href="#">THING2</a></li>
				<li><a href="#">THING3</a></li>
			</ul>
			<ul style="text-align:center;margin-left: 17%">
				<% if @country %>
				<h1 ><%= @country.name %></h1>
				<% end %>
				<% if @region %>
				<h1 ><%= @region.name %></h1>
				<% end %>
			</ul>
		</nav>


		<div id="wrapper">
			<%= yield %>
		</div>

		

	</body>
</html>
