<!DOCTYPE html>
<html>
	<head>
	  <title>Third Goal Travel</title>
	  <script src="http://maps.googleapis.com/maps/api/js"></script>
	  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<% if flash[:notice] %>
			<div id="flash">
				<h3><%= flash[:notice] %></h3>
			</div>
		<% end %>

		<nav>
			<ul class="left">
				<img src="/images/facebook.png">
				<img src="/images/instagram.png">
				<img src="/images/twitter.png">
			</ul>

			<% if current_user %>
				<ul class="right">
					<li><a href="/about">ABOUT</a></li>
					<div class="dropdown">
						<%= link_to "GO", countries_path, class: :dropbtn %>
							<div class="dropdown-content">
								<a href="/regions">REGIONS</a>
								<a href="/countries">COUNTRIES</a>
							</div>
					</div>
					<div class="dropdown">
						<%= link_to "MY ACCOUNT", user_path(current_user), class: :dropbtn %>
							<div class="dropdown-content" id="account-menu">
								<%= link_to "MY PROFILE", user_path(current_user) %>
								<%= link_to "EDIT ACCOUNT", edit_user_path(current_user) %>
								<%= link_to "LOG OUT", log_out_path %>
							</div>
					</div>
					
				</ul>
			<% else %>
				<ul class="right">
					<li><a href="/about">ABOUT</a></li>
					<div class="dropdown">
						<%= link_to "GO", countries_path, class: :dropbtn %>
							<div class="dropdown-content">
								<%= link_to "REGIONS", regions_path %>
								<%= link_to "COUNTRIES", countries_path %>
							</div>
					</div>
					<li><%= link_to "LOG IN", log_in_path %></li>
					<li><%= link_to "SIGN UP", sign_up_path %></li>
				</ul>
			<% end %>
			<ul class="middle">
				<% if @country %>
					<h1 id="country_name"><%= link_to @country.name, country_path(@country) %></h1>
				<% end %>
			</ul>
		</nav>

			<%= yield %>

	</body>
</html>
