<!DOCTYPE html>
<html>
	<head>
	  <title>Third Goal Travel</title>
	  <script src="http://maps.googleapis.com/maps/api/js"></script>
	  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<% if flash[:notice] %>
			<div id="flash">
				<h3><%= flash[:notice] %></h3>
			</div>
		<% end %>

		<nav>
			<ul class="left">
				<img src="/images/facebook.png">
				<img src="/images/instagram.png">
				<img src="/images/twitter.png">
			</ul>

			<% if current_user %>
				<ul class="right">
					<li><a href="#">ABOUT</a></li>
					<li><a href="/countries">COUNTRIES</a></li>
					<li><a href="#">MY ACCOUNT</a></li>
					<li><a href="/log-out">LOG OUT</a> </li>
				</ul>
			<% else %>
				<ul class="right">
					<li><a href="/">HOME</a></li>
					<li><a href="/countries">COUNTRIES</a></li>
					<li><a href="/log-in">LOG IN</a></li>
					<li><a href="/sign-up">SIGN UP</a> </li>
				</ul>
			<% end %>
			<ul class="middle">
				<% if @country %>
					<h1 id="country_name"><%= link_to @country.name, country_path(@country) %></h1>
				<% end %>
			</ul>
		</nav>

			<%= yield %>

	</body>
</html>
